body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #0a58ca;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
